@{ 

    string controller = ViewContext.RouteData.Values["controller"].ToString();
    string action = ViewContext.RouteData.Values["action"].ToString();
    string cssBundle = "~/Content/css";
    string scriptBundle = "~/Scripts/scripts";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render(cssBundle)    
    @Scripts.Render(scriptBundle)

</head>
<body>
    <header>
        <nav class="navbar-expand-md bg-dark navbar-dark bg-primary fixed-top">



            <a class="navbar-brand" href="#">Xcentium Code Challenge</a>
            <button class="navbar-toggler" type="button" 
                    data-toggle="collapse" data-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>



            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto">
                    
                    @using (@Html.BeginForm("Index", "Home", FormMethod.Post))
                        {
                            <button class="btn btn-secondary" style="margin-top:5px; margin-right:2.5px;" href="javascript:;" onclick="document.forms[0].submit">Home</button>
                        }
                   
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                        {
                            <button class="btn btn-secondary" style="margin-top:5px; margin-left:2.5px;" href="javascript:;" onclick="document.forms[0].submit();">Logout</button>
                        }

                </div>

            </div>


        </nav>
   
</header>
    <main>
        <div class="overlay">
            <div class="hero-image">
                @RenderBody()
                <div id='stars'></div>
                <div id='stars2'></div>
                <div id='stars3'></div>
            </div>
        </div>
    </main>
       

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    
   
</body>
</html>
