@model XctLogin.Models.LoginViewModel
@{
    ViewBag.Title = "Index";
 }

    <!-- login form -->
           
                <div class="logo">
                    <a class="brand-logo" href="index.html">Xcentium Code Challenge</a>
                </div>
                <div id="login-div">
                    @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
                    {
                        <div class="form-section">
                            <h3>Login</h3>
                            <h6>Enter Credentials to Continue</h6>
                            <form action="#" method="post" class="signin-form">
                                <div class="form-input">
                                    @Html.EditorFor(m => m.User.Username, new { htmlAttributes = new { placeholder = "Username" } })
                                </div>
                                <div class="validation">
                                    @Html.ValidationMessageFor(m => m.User.Username)
                                    @Html.DisplayFor(m => m.UsernameNotFound)

                                </div>
                                <div class="form-input">
                                    @Html.EditorFor(m => m.User.Password, new { htmlAttributes = new { placeholder = "Password" }})
                                </div>
                                <div class="validation">
                                    @Html.ValidationMessageFor(m => m.User.Password)
                                    @Html.DisplayFor(m => m.IncorrectPassword)
                                </div>

                                @Html.DisplayFor(m => m.LoginErrorMessage)
                                <button type="submit" class="btn btn-primary theme-button mt-4" style="@(Model.Loading ? "display:none" : "display:block")">Log in</button>
                            </form>
                        </div>
                    }
                
            
            </div>